<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/TestDB</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.max_fetch_depth">3</property>

        <!--
        <property name="connection.url">jdbc:mysql://localhost:3306/adi</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">adi</property>
        <property name="connection.password">salam</property>
        -->

        <mapping class="ro.pata.ws.test.tomcat.db.NumeEntity"/>
        <mapping class="ro.pata.ws.test.tomcat.db.TelefonEntity"/>
        <mapping class="ro.pata.ws.test.tomcat.db.PrenomsEntity"/>

    </session-factory>
</hibernate-configuration>